---
import PostPreview from "../../components/PostPreview.astro";
import BaseLayout from "../../layouts/BaseLayout.astro";
import { getCollection } from "astro:content";
const allPosts = await getCollection("blog");
const pageTitle = "My Astro Learning Blog";
---

<BaseLayout pageTitle={pageTitle}>
  <div>
    <h2 class="text-xl font-normal font-serif text-center" >Recent Posts</h2>
    <ul class="space-y-3 mx-auto">
      {
        allPosts.map((post) => (
          <li class="mx-auto w-[300px] md:w-[550px] ">
            <PostPreview post={post} />
          </li>
        ))
      }
    </ul>
  </div>
</BaseLayout>
