---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout pageTitle="About">
  <section>
    <p>Hi! I'm Ryan and this is my blog!</p>
    <p>This site will update as I learn more about Astro... Stay tuned!</p>
  </section>
</BaseLayout>
