---
import PostPreview from "../components/PostPreview.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
const allPosts = await Astro.glob("../pages/posts/*.md");
const pageTitle = "My Astro Learning Blog";
---

<BaseLayout pageTitle={pageTitle}>
  <p>This is where I will post about my journey learning Astro.</p>
  <ul class="space-y-3 mx-auto w-4/5 flex flex-col gap-16 items-center">
    {
      allPosts.map((post) => (
        <li class="mx-auto">
          <PostPreview post={post} />
        </li>
      ))
    }
  </ul>
</BaseLayout>
