---
import { Image } from "astro:assets";
import BaseLayout from "../layouts/BaseLayout.astro";
import meImage from "../img/me.png"
---

<BaseLayout pageTitle="Ryan Wilson - Software developer">
  <div class="max-w-2xl mr-auto space-y-5 px-3 lg:px-0 text-lg ">
    <h2 class="mb-2 text-3xl font-medium">Ryan Wilson</h2>
    <Image src={meImage} class="h-36 w-36 object-cover rounded-md" alt="" />
    <p>Hi! I'm Ryan. I'm a software developer and lifelong learner!</p>
    <p>
      This site is where I'll be showcasing some of my future projects. Check out my blog series about web technology, where I write about things
      like React, ASP.NET, data visualization, and more. Stay tuned!
    </p>
  </div>
  <div class="mt-24 text-lg ">
    <h3>Socials:</h3>
    <ul class="list-disc" >
      <li>
        <a
          href="https://www.linkedin.com/in/rjwilsondev/"
          target="_blank"
          class="hover:underline font-medium px-1 inline-block underline-offset-4"
          >LinkedIn</a
        >
      </li>
      <li>
        <a
          href="https://github.com/rjwilsondev"
          target="_blank"
          class="hover:underline font-medium px-1 inline-block underline-offset-4"
          >Github</a
        >
      </li>
    </ul>
  </div>
</BaseLayout>
