---
// const platform = "github";
// const username = "rjwilsondev";
---

<footer class="h-[180px] w-full py-8 border-white border">
  <div class="lg:max-w-5xl mx-auto grid lg:grid-cols-3 text-center">
    <p>Github</p>
    <p>LinkedIn</p>
    <p>Twitter</p>
    <p>Contact</p>
    <p>Github</p>
    <p>Github</p>
    <p>Github</p>
    <p>Github</p>
    <p>All rights reserved © RJ Wilson 2023</p>
  </div>
</footer>
