---
const platform = "github";
const username = "rjwilsondev";
---

<footer class="h-[180px] w-full py-8 border-white border">
  <div class="lg:max-w-5xl mx-auto  ">
    <p>
      Learn more about my projects on <a
        href={`https://www.${platform}.com/${username}`}>{platform}</a
      >!
    </p>
  </div>
</footer>
