---
import ThemeToggle from "./ThemeToggle.astro";
---

<header class="font-serif md:mx-auto md:max-w-4xl text-lg">
  <nav
    class="flex px-3 lg:px-0  gap-0.5 md:gap-4 items-center py-10 underline-offset-4 dark:decoration-white decoration-2 "
  >
    <a href="/" class="text-xl md:text-2xl md:mr-10 "
      >rjwilson.dev</a
    >
    <a href="Ryan Wilson Resume.pdf" class="hover:underline px-2" target="_blank" 
      >Resume</a
    >
    
    <a href="/blog" class="hover:underline px-2"
      >Blog</a
    >
    <ThemeToggle className="md:mr-5 hidden md:block ml-auto" />
  </nav>
</header>