---

---

<nav
  class="flex gap-3 px-5 py-2 underline-offset-4 decoration-white/100 decoration-1 border text-lg border-white"
>
  <a href="/" class="hover:underline px-2">Home</a>
  <a href="/about/" class="hover:underline px-2">About</a>
  <a href="/blog/" class="hover:underline px-2">Blog</a>
</nav>
