---
import ThemeToggle from "./ThemeToggle.astro";
---

<header class="font-serif md:mx-auto md:max-w-4xl text-lg">
  <nav
    class="flex gap-0.5 md:gap-4 items-center py-10 underline-offset-4 decoration-white decoration-1"
  >
    <a href="/" class="text-xl md:text-2xl px-2 md:mr-10 md:ml-5"
      >rjwilson.dev</a
    >
    <a href="/about/" class="hover:underline px-2" data-astro-prefetch="hover"
      >About</a
    >
    <a href="/blog/" class="hover:underline px-2" data-astro-prefetch="hover"
      >Blog</a
    >
    <ThemeToggle className="md:mr-5 hidden md:block ml-auto" />
  </nav>
</header>
