---
import "@fontsource-variable/roboto-slab";
//Roboto Flex
import "@fontsource-variable/roboto-flex"; // Defaults to wght axis
import "@fontsource-variable/roboto-flex/wght.css"; // Specify axis

import Navigation from "../components/Navigation.astro";
import Footer from "../components/Footer.astro";
import { ViewTransitions } from "astro:transitions";
const { pageTitle } = Astro.props;
---

<html lang="en" class="overflow-y-scroll">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle}</title>
    <style>
      ::-webkit-scrollbar {
        width: 0.75rem;
      }

      ::-webkit-scrollbar-track {
        background-color: #f9fbf7;
      }

      :is(.dark)::-webkit-scrollbar-track {
        background-color: #000;
      }

      ::-webkit-scrollbar-thumb {
        --tw-bg-opacity: 1;
        background-color: #EEE;
      }

      ::-webkit-scrollbar-thumb:hover {
        --tw-bg-opacity: 1;
        background-color: #DDD;
      }
    </style>
    <script is:inline>
      const theme = (() => {
        if (
          typeof localStorage !== "undefined" &&
          localStorage.getItem("theme")
        ) {
          return localStorage.getItem("theme");
        }
        if (window.matchMedia("(prefers-color-scheme: dark)").matches) {
          return "dark";
        }
        return "light";
      })();

      const setTheme = (newTheme) => {
        if (
          typeof localStorage !== "undefined" &&
          (newTheme === "dark" || newTheme === "light")
        )
          localStorage.setItem("theme", newTheme);
      };

      if (theme === "light") {
        document.documentElement.classList.remove("dark");
      } else {
        document.documentElement.classList.add("dark");
      }
      setTheme(theme);

      document.addEventListener("astro:before-swap", (ev) => {
        // Pass the incoming document to set the theme on it
        localStorage.theme === "dark"
          ? ev.newDocument.documentElement.classList.add("dark")
          : ev.newDocument.documentElement.classList.remove("remove");
        console.log("before swap");
      });
    </script>
    <ViewTransitions fallback="none" />
  </head>
  <body
    class="dark:bg-[#031607f4] dark:text-green-50 bg-[#F5F7F3] text-green-950 transition-colors duration-500"
  >
    <Navigation />
    <main class="mx-auto md:max-w-4xl" id="main">
      <slot />
    </main>
    <Footer />
  </body>
</html>
